/*----------------------------------
	body
------------------------------------*/
body{
	font-family:"Lato", Helvetica,arial,sans-serif;
}
/*----------------------------------
		pramary-heading
-------------------------------------*/
.primary-heading{
	font-family:"Lato", Helvetica, arial, sans-serif;
	position:fixed;
	font-weight:bold;
	color:#648880;
	background: white;
	width: 100%;
	padding-top: 20PX;
	padding-bottom:20PX;
	background:#F6FAFE;
	box-shadow:2px 2px 3px rgba(0,0,0,0.6);       
}
.start h1{
	float:left;
	padding-left:80px;
	text-transform:capitalize;
	font-size:14px; 	   
}
.menu{
	float:right;
	padding-right:80px;
	text-transform:capitalize;
	font-size:15px;	     
}
.menu ul li{
	display:inline;
	padding: 0 20px;
	font-size:14px;  	
}
/*-------------------------------
	Ancher
---------------------------------*/	
a{
	text-decoration:none;
	color:#648880;  
}
a:hover{ 
    background-color:transparent;
    color:black;
}
/*------------------------------
		container
-------------------------------*/
.container{
	background-image: url("intro.jpg");
	width:100%;
	height:620px;
	clear:both;
	background-repeat:no-repeat;
	background-size:cover; 
}
/*-------------------------------
	primary-text
----------------------------------*/
.primary-text{
	text-align:center;
	color:white;
	padding-top:15%;	 	  
}
.primary-text h1{
	font-size:70px;
	font-weight:bold;
	line-height:97px;
	font-family:"Lato", Helvetica,arial,sans-serif;
	text-shadow:2px 2px 3px rgba(0,0,0,0.6);     
}
.primary-text h2{
	font-size:24px;
	font-weight:bold;
	line-height:43px;
	font-family: "Lato", Helvetica,arial,sans-serif;
	text-shadow:2px 2px 3px rgba(0,0,0,0.6);
}
.primary-text button{
	margin-right:10px;
	border:none;

}
/*
--------------------------------
		button
--------------------------------*/
.logo{
	font-size:15px;
	border-radius:5px;
	width:150px;
	height:50px;
	background-color:white;
	color:#383939;
	line-height:30px;
	padding-right: 30px;
	margin-right:8px;
	border:none;  
	}
button span{
	padding-left: 5px;
}
.line{
	width: 400px;
	margin-bottom:30px; 	
}
.logo span{
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 2px;
	font-family:"Lato", Helvetica,arial,sans-serif;
	font-weight:400px;  
}
.button{
	padding:30px; 
}
/*
--------------------------------------
	primary-image
--------------------------------------*/
.primary-image{
	padding-top:40px;
	background-color:#F8F8F8;
	height:400px;   
}
.paragraph{
	float:left;
	padding-left:100px;
	line-height:32px;
	padding-top:40px;    
}
.paragraph h1{
	font-size:30px;
	color:#404041;
	font-weight:bold;
	line-height:33px;
	font-family:"Lato", Helvetica,arial,sans-serif;
	clear:left;
	padding-top:20px;      
}
.paragraph p{
	font-size:20px;
	color:#61625C;
	font-family: "Lato",Helvetica,arial,sans-serif;  
}
.picture{
	float:right;
	padding-right:100px; 
}
.pic{
height:auto;
width:420px;
}
.style{
	color:#328AA3; 
}
style:hover{
	text-decoration:underline; 
}

.line1{
	width:200px;
	float:left;
	border-top:3px solid #e7e7e7;   
}
/*--------------------------
	secondry-image
----------------------------*/
.secondary-image{
	padding-top:60px;
	clear:both;
	line-height:30px;
	height:400px;    

}
.pic1{
	height:auto;
	width:400px;  
}
.picture1{
	float:left;
	padding-left:100px;  
}
.para1{
	float:right;
	padding-right:100px;
	padding-top:20px;   
}
.para1 h1{
	font-size:30px;
	font-family: "Lato", Helvetica,arial,sans-serif;
	color:#404041;
	font-weight:bold;
	clear: right;
	padding-top:40px; 	
}
 .line2{
 	width:200px;
 	float:left;  
	border-top:3px solid #e7e7e7;
 }

.para1 p{
	font-size:20px;
	color:#61625C; 
	font-family: "Lato",Helvetica,arial,sans-serif; 
}
/*-------------------------------------
		next-images
---------------------------------------*/
.next-image{
	clear:both;
	padding-top:20px;
	line-height:30px;
	height:430px;
	background-color:#F8F8F8;   
}
.para2{
	float:left;
	padding-left:80px;
	padding-top:10%;  
}
.para2 h1{
	font-size:30px;
	font-weight:bold;
	color:#413C35;
	font-family: "Lato",Helvetica,arial,sans-serif;
	clear:left;
	padding-top:30px;   
}
.para2 p{
	line-height:26px; 
	font-size:20px;
	color:#61625C;
	font-family: "Lato", Helvetica,arial,sans-serif;  
}
.pic2{
	width:450px;
	height:auto; 
}
.picture2{
	float:right;
	padding-right:80px; 
}
.line3{
	width:200px;
	float:left;
	border-top:3px solid #e7e7e7;   
}
/*------------------------------
	container1
--------------------------------*/
.container1{
	background-image:url("b.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:230px;
	clear: both;
	background-position:70% 70%; 
}
.para3{
	float:left;
	padding-left: 70px; 
}
.button{
	float:right;
	padding-right:70px;
}
.textbutn{
	padding-top:6%; 
}
.para3 h1{
	font-size:45px;
	color: white;
	font-weight:bold;
	font-family:"Lato", Helvetica,arial,sans-serif;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);      
}
/*----------------------------------
	primary-footer
-------------------------------------*/
.primary-footer{
	clear:both;
	line-height:30px;
	height:100px;
	padding-top:50px;
	padding-left: 4%;

	}
.primary-footer ul li{ 
	display:inline;
	padding:0 15px;
	font-family:"Lato", Helvetica,arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	padding-left:20px;       
}
.primary-footer h1{
	font-size:11px;
	padding-left:22px;
	color:#61625C;
	font-family:"Lato", Helvetica,arial,sans-serif;
	line-height:17px; 
	line-height:30px;        
}
.primary-footer ul li a {
	color:#3BA8F0;
	font-weight:bold;   
}


